.calender{
    margin:auto;
    margin-top: 100px;;
    width:80%;
    text-align:center;
}
.calender>h1{
   
    font-size: 35px;;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(254, 145, 25);
    margin-bottom: 50px;;
}
.calenderChild{
    margin: auto;
    color:rgb(254, 145, 25);
    width: 60%;
  }
  .calenderChild:hover{
    transform: scale(1.2);
  }


  @media only screen and (min-width: 601px) and (max-width: 900px) {
    .calender{
        margin:auto;
        margin-top: 90px;;
        width:90%;
        text-align:center;
    }
    .calenderChild{
        margin: auto;
        color:rgb(254, 145, 25);
        width: 100%;
        font-size: 20px;
      }
    
  }

  @media only screen and (min-width: 440px) and (max-width: 600px) {
    .calender{
        margin:auto;
        margin-top: 60px;;
        width:97%;
        text-align:center;
    }
    .calenderChild{
        margin: auto;
        color:rgb(254, 145, 25);
        width: 100%;
        font-size: 20px;
        margin-top: 30px;
      }
      .calender>h1{
   
        font-size: 25px;;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:rgb(254, 145, 25);
        margin-bottom: 20px;;
    }
  }

  @media only screen and (min-width: 300px) and (max-width: 439px) {
    .calender{
        margin:auto;
        margin-top: 40px;;
        width:97%;
        text-align:center;
    }
    .calenderChild{
        margin: auto;
        color:rgb(254, 145, 25);
        width: 90%;
        margin-top: 20px;
       
      }
      .calender>h1{
   
        font-size: 20px;;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:rgb(254, 145, 25);
        margin-bottom: 20px;;
    }
    .calenderChild:hover{
      transform: scale(1.1);
    }

  }