.Home{
    width: 100%;
    
    display: flex;;
    justify-content: space-around;
   }
   .Home-child1{
    width: 40%;;
   }
   .Img{
    width: 80%;
    margin-top: 100px;
    margin-left: 190px;
   }
   .Home-child2{
    width: 40%;;
   }
   .Home-child2>h1{
    margin-top: 100px;
    color:skyblue;
    font-size: 25px;
    margin-left: 50px;
   }
   .Home-child2>h2{
    color:rgb(254, 145, 25);
    font-size: 55px;
    margin-left: 50px;
   }
  
   .Home-child2>p{
    font-size: 20px;
    color:teal;
    margin-left: 50px;
    margin-right: 40px;;
   }
  
   .btn1{
    margin: auto;;
    margin-left: 50px;;
    margin-top: 30px;
   }
   .btn1>button{
    margin-left: 13px;
   }
   .button:hover{
    transform: scale(1.1);
   }
   .btn1>button:nth-child(1){
  background:skyblue;
   }
   .slider{ 
    margin-top: 100px;
}


   @media only screen and (min-width: 601px) and (max-width: 900px) {

    .Home{
        width: 100%;
        display: flex;;
    
       }
       .Home-child1{
        width: 100%;
       }
       .Img{
        width: 80%;
        margin-top: 50px;
        margin-left: 70px;
     }
     .Home-child2{
      width: 100%;;
      margin-top: 20px;
     }
     .Home-child2>h1{
      margin-top: 30px;
      text-align: center;
      margin-left: 0px;
     }
     .Home-child2>h2{
      font-size: 45px;
     text-align: center;
     margin-left: 0px;;
     }
     .Home-child2>p{
      text-align: center;
      margin-left: 0px;
      margin-right: 0px;
     }
     .btn1{
        align-items: center;
      margin-top: 30px;
    margin-left: 0px;;
    text-align: center;
  

     }
       .btn1>button{
        margin-left: 20px;
       }
       .slider{ 
        margin-top: 80px;
    }
    
   }
  
  
   @media only screen and (min-width: 450px) and (max-width: 650px) {
    .Home{
      width: 100%;
      display: flex;;
      flex-direction: column;
     }
     .Home-child1{
      width: 100%;
     }
     .Img{
      width: 80%;
      margin-top: 50px;
      margin-left: 70px;
   }
   .Home-child2{
    width: 100%;;
   }
   .Home-child2>h1{
    margin-top: 30px;
    text-align: center;
    margin-left: 0px;;
   }
   .Home-child2>h2{


    font-size: 45px;
   text-align: center;
   margin-left: 0px;;

   }
   .Home-child2>p{
    text-align: center;
    margin-left: 0px;;
margin-right: 0px;
   }
   .btn1{
    align-items: center;
    margin-left: 0px;;
    text-align: center;
    margin-top: 30px;
   }
   .slider{ 
    margin-top: 60px;
}
  
  }

  @media only screen and (min-width: 200px) and (max-width: 449px) {
    .Home{
        width: 100%;
        display: flex;;
        flex-direction: column;
       }
       .Home-child1{
        width: 100%;
       }
       .Img{
        width: 80%;
        margin-top: 50px;
        margin-left: 50px;
     }
     .Home-child2{
      width: 100%;;
     }
     .Home-child2>h1{
        font-size: 16px;
      margin-top: 30px;
      margin-left: 0px;
      text-align: center;
     }
     .Home-child2>h2{
  
      font-size: 35px;
      text-align: center;
      margin-left: 0px;


     }
     .Home-child2>p{
      text-align: center;
      font-size: 16px;
      margin-left: 0px;
      margin-right: 0px;;
     }
     .btn1{
      margin-top: 30px;
      font-size: 10px;
      
    margin-left: 0px;;
    text-align: center;

     }
     .btn1>button{
      font-size: 12px;;
      align-items: center;

       }
       .slider{ 
        margin-top: 40px;
    }
   

  }