.Project{
    width:65%;
    margin: auto;;
    margin-top: 100px;;
    text-align: center;
 overflow: hidden;
}
.Project>h1{
    
    font-size: 35px;;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:salmon
}
.ProjectGrid{
    margin-top: 50px;;

}
.ProjectGrid>div:hover{
    
    transform: scale(1.03);
}
.Project1{
    width:100%;
    margin:auto;
    display: flex;
    border-radius: 15px;
   
}
.Project1>div{
    width:80%;
    
}
.Project1>div>img{
    width:80%;
  margin: auto;;
  margin-top: 60px;;
  margin-bottom: 60px;
}

.Project1>.ProjectD{
    text-align: left;
    color:black;
  
}

.Project1>.ProjectD>h1{
    font-size: 25px;;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}
.Project1>.ProjectD>li{
    font-size: 15px;;
    padding-left: 40px;
    font-family: sans-serif;
 
}
.Project1>.ProjectD>h2{
    font-size: 16px;;
    padding-top: 30px;
    font-family: sans-serif;
    font-weight: 500;
 
}
.btn{
   margin-top: 30px;
   color: white;

}
.btn:hover{
    transform:scale(1.16);
    color: black;
}
@media only screen and (min-width: 701px) and (max-width: 900px) {
    .Project{
        width:95%; 
    }
    .Project>h1{
        font-size: 46px;;
    }
    .Project1>div{
        width:90%;
        
    }


}

@media only screen and (min-width: 550px) and (max-width: 700px) {
    .Project{
        width:95%; 
        margin-top: 80px;
    }
    .Project>h1{
        font-size: 46px;;
    }
    .Project1>div{
        width:80%;
        
    }
    .Project1>div>img{
        width:90%;

    }
    .Project1>.ProjectD>h1{
        font-size: 25px;;
       
    }
    .Project1>.ProjectD>li{
        font-size: 15px;;
     
    }
    .Project1>.ProjectD>h2{
        font-size: 15px;;
        padding-top: 20px;
        font-family: sans-serif;
        font-weight: 500;
     
    }
    .btn{
        margin-top: 20px;
        color: white;
     margin-bottom: 10px;
     }

}

@media only screen and (min-width: 450px) and (max-width: 549px) {
  
    .Project{
        width:100%;
        margin: auto;;
        text-align: center;
        margin-top: 80px;
    }
    .Project>h1{
        font-size: 35px;;
    margin-top: 30px;;

    }
    .Project1{
        width:90%;
        margin:auto;
        display: flex;
       flex-direction: column;
    }
    .Project1>div{
        width:90%;
        
    }
    .Project1>div>img{
        width:100%;
      margin: auto;;
      margin-top: 20px;;
      margin-left: 20px;
      
    }
    .Project1>.ProjectD>h1{
        font-size: 26px;;
        margin-left: 40px;
        margin-top: 10px;
    margin-bottom: 0px;


    }
    .Project1>.ProjectD>li{
        font-size: 17px;;
        font-family: sans-serif;
margin-left: 25px;
     
    }
    .Project1>.ProjectD>h2{
        font-size: 18px;;
        padding-top: 10px;
        margin-left: 40px;
     
}
.btn{
    margin-top: 15px;
    color: white;
    margin-left: 20px;
 margin-bottom: 10px;
 }
}

@media only screen and (min-width: 250px) and (max-width: 449px) {
    .Project{
        width:95%; 
        margin-top: 60px;
    }
    .Project>h1{
        font-size: 27px;;
    margin-top: 25px;;

    }
    .Project1{
        width:95%;
        margin:auto;
        display: flex;
       flex-direction: column;
    }
    .Project1>div{
        width:90%;
        
    }
    .Project1>div>img{
        width:100%;
      margin: auto;;
      margin-top: 15px;;
      margin-left: 20px;
      
    }
    .Project1>.ProjectD>h1{
        font-size: 23px;;
        margin-left: 40px;
        margin-top: 8px;
    margin-bottom: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


    }
    .Project1>.ProjectD>li{
        font-size: 14px;;
        font-family: sans-serif;
margin-left: 25px;
     
    }
    .Project1>.ProjectD>h2{
        font-size: 14px;;
        padding-top: 8px;
        margin-left: 40px;
     
}
.btn{
    margin-top: 12px;
    color: white;
    margin-left: 20px;
 margin-bottom: 10px;
 font-size: 12px;
 }
 


}